name: Buildtest
run-name: Buildtest ${{ github.event.inputs.package }} ${{ github.event.inputs.version }} ${{ github.event.inputs.baseimage }} (${{ github.event.inputs.arch }})

on:
  workflow_dispatch:
    inputs:
      package:
        type: choice
        description: Package
        options:
        - server
        - client
      version:
        type: choice
        description: Version
        options:
        - 4.x
      arch:
        type: choice
        description: Target Arch
        options:
        - arm64-native
        - arm64-cross
        - amd64
        - all
      baseimage:
        type: choice
        description: Base Image
        options:
        - debian:trixie-slim
        - debian:bookworm-slim
        - ubuntu:noble
        - ubuntu:jammy

jobs:
  build-arm64-native:
    if: ${{ github.event.inputs.arch == 'arm64-native' || github.event.inputs.arch == 'all' }}
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Free up disk space
      run: |
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/local/lib/node_modules
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/share/swift

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Build packages
      run: |
        options=""
        [ "${GITHUB_EVENT_INPUTS_PACKAGE}" = "client" ] && options="client"
        [ "${RUNNER_DEBUG}" = "1" ] && options=$options" debug"
        docker buildx build -o packages --build-arg buildoptions="github ${options}" --build-arg baseimage=${GITHUB_EVENT_INPUTS_BASEIMAGE} --platform linux/arm64 .
        echo "DEB_VERSION=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: //p')" >> $GITHUB_ENV
        echo "DEB_VERSION_UPSTREAM=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: \([0-9.]\+\)-[0-9]/\1/p')" >> $GITHUB_ENV
      env:
        GITHUB_EVENT_INPUTS_PACKAGE: ${{ github.event.inputs.package }}
        GITHUB_EVENT_INPUTS_BASEIMAGE: ${{ github.event.inputs.baseimage }}
    - name: Test packages
      run: |
        docker buildx build --build-arg baseimage=${GITHUB_EVENT_INPUTS_BASEIMAGE} --platform linux/arm64 -f .github/Dockerfile.installtest .
      env:
        GITHUB_EVENT_INPUTS_BASEIMAGE: ${{ github.event.inputs.baseimage }}

  build-arm64-cross:
    if: ${{ github.event.inputs.arch == 'arm64-cross' || github.event.inputs.arch == 'all' }}
    runs-on: ubuntu-24.04

    steps:
    - name: Free up disk space
      run: |
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/local/lib/node_modules
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/share/swift

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Build packages
      run: |
        options=""
        [ "${GITHUB_EVENT_INPUTS_PACKAGE}" = "client" ] && options="client"
        [ "${RUNNER_DEBUG}" = "1" ] && options=$options" debug"
        docker buildx build -o packages --build-arg buildoptions="cross github ${options}" --build-arg baseimage=${GITHUB_EVENT_INPUTS_BASEIMAGE} --platform linux/amd64 -f .github/Dockerfile.crosscompile-arm64 .
        echo "DEB_VERSION=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: //p')" >> $GITHUB_ENV
        echo "DEB_VERSION_UPSTREAM=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: \([0-9.]\+\)-[0-9]/\1/p')" >> $GITHUB_ENV
      env:
        GITHUB_EVENT_INPUTS_PACKAGE: ${{ github.event.inputs.package }}
        GITHUB_EVENT_INPUTS_BASEIMAGE: ${{ github.event.inputs.baseimage }}
    - name: Test packages
      run: |
        docker buildx build --build-arg baseimage=${GITHUB_EVENT_INPUTS_BASEIMAGE} --platform linux/arm64 -f .github/Dockerfile.installtest .
      env:
        GITHUB_EVENT_INPUTS_BASEIMAGE: ${{ github.event.inputs.baseimage }}

  build-amd64:
    if: ${{ github.event.inputs.arch == 'amd64' || github.event.inputs.arch == 'all' }}
    runs-on: ubuntu-24.04

    steps:
    - name: Free up disk space
      run: |
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/local/lib/node_modules
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/share/swift

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Build packages
      run: |
        options=""
        [ "${GITHUB_EVENT_INPUTS_PACKAGE}" = "client" ] && options="client"
        [ "${RUNNER_DEBUG}" = "1" ] && options=$options" debug"
        docker buildx build -o packages --build-arg buildoptions="github ${options}" --build-arg baseimage=${GITHUB_EVENT_INPUTS_BASEIMAGE} --platform linux/amd64 .
        echo "DEB_VERSION=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: //p')" >> $GITHUB_ENV
        echo "DEB_VERSION_UPSTREAM=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: \([0-9.]\+\)-[0-9]/\1/p')" >> $GITHUB_ENV
      env:
        GITHUB_EVENT_INPUTS_PACKAGE: ${{ github.event.inputs.package }}
        GITHUB_EVENT_INPUTS_BASEIMAGE: ${{ github.event.inputs.baseimage }}
    - name: Test packages
      run: |
        docker buildx build --build-arg baseimage=${GITHUB_EVENT_INPUTS_BASEIMAGE} --platform linux/amd64 -f .github/Dockerfile.installtest .
      env:
        GITHUB_EVENT_INPUTS_BASEIMAGE: ${{ github.event.inputs.baseimage }}
