name: Buildtest Client Debian/Bullseye (buildx/arm64)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build packages
      run: |
        if [ "${RUNNER_DEBUG}" = "1" ]; then
          docker buildx build -o packages --build-arg buildoptions="client debug" --platform linux/arm64 .
        else
          docker buildx build -o packages --build-arg buildoptions="client" --platform linux/arm64 .
        fi
    - name: Test packages
      run: |
        sudo apt install -y \
                ./packages/proxmox-backup-client_*.deb
