name: Release
run-name: Release ${{ github.ref_name }} ${{ github.event.inputs.version }} Debian/Trixie (arm64)

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: Version
        options:
        - 4.x
  push:
    tags:
      - 4.**

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Free up disk space
      run: |
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /usr/local/lib/node_modules
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/share/swift
        df -h

    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build packages
      run: |
        baseimage="debian:trixie-slim"
        echo "DEB_DIST=Debian/Trixie" >> $GITHUB_ENV
        if [ "${RUNNER_DEBUG}" = "1" ]; then
          docker buildx build -o packages --build-arg buildoptions="github debug" --build-arg baseimage=${baseimage} --platform linux/arm64 -f Dockerfile .
        else
          docker buildx build -o packages --build-arg buildoptions="github" --build-arg baseimage=${baseimage} --platform linux/arm64 -f Dockerfile .
        fi
        sudo apt -y install apt-listchanges
        apt-listchanges --latest=1 -f text packages/proxmox-backup-server_*.deb | sed -e '/^\(apt-listchanges.*\|[-]\+\)$/d' >> .github/PREBUILD.md
        echo "DEB_VERSION=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: //p')" >> $GITHUB_ENV
        echo "DEB_VERSION_UPSTREAM=$(dpkg --info packages/proxmox-backup-server_*.deb | sed -n '/Version/ s/[^:]\+: \([0-9.]\+\)-[0-9]/\1/p')" >> $GITHUB_ENV
    - name: Test packages
      run: |
        df -h
        baseimage="debian:trixie-slim"
        docker buildx build --build-arg baseimage=${baseimage} --platform linux/arm64 -f .github/Dockerfile.installtest .
    - name: Release packages
      uses: ncipollo/release-action@v1
      with:
        artifacts: "packages/*.deb"
        bodyFile: ".github/PREBUILD.md"
        tag:  ${{ env.DEB_VERSION }}
        name: Version ${{ env.DEB_VERSION }} (${{ env.DEB_DIST }})
        draft: true
        makeLatest: false
